[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest = "*"
alembic = "*"

[requires]
python_version = "3.7"
